{
  "iptables_location": "/sbin/iptables", // Required to generate iptables rules
  "haproxy_ip": "199.204.184.146", // IP address of your remote server, required for every mode
  "haproxy_bind_ip": "0.0.0.0", // IP address that haproxy should bind to locally
  "server_options": "check inter 10s fastinter 2s downinter 2s fall 1800", // Don't touch unless you know what you're doing
  "stats": {
    "enabled": true, // Set to true to enable HAProxy stats web page
    "port": 27199,
    "user": "haproxy",
    "password": "Change-Me-Now"
  }
}
